@layer reset, variables, components, utilities;

@import "./reset.css" layer(reset);
@import "./variables.css" layer(variables);
@import "./utilities.css" layer(utilities);

@import "../component/NavBar/style.css" layer(components);
@import "../component/TopBar/style.css" layer(components);
@import "../component/Movie/style.css" layer(components);
@import "../component/MovieCategory/style.css" layer(components);
@import "../component/MovieDetail/style.css" layer(components);
@import "../component/Featured/style.css" layer(components);
@import "../component/Stats/style.css" layer(components);



.app-container {
  background: radial-gradient(circle at top right, #172554, var(--bg-app));
  color: var(--text-main);
  height: 100vh;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  overflow: hidden; 
  display: flex;
  padding: 1rem;
  gap: 2rem;     
  box-sizing: border-box;
}

.main-column {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden; 
}

#content {
  flex: 1;
  padding: 1rem;
  overflow-y: auto;
  min-height: 0;
}

#content::-webkit-scrollbar { width: 8px; }
#content::-webkit-scrollbar-track { background: transparent; }
#content::-webkit-scrollbar-thumb { background: rgba(255,255,255,0.1); border-radius: 10px; }
#content::-webkit-scrollbar-thumb:hover { background: var(--accent-color); }