@layer reset, variables, components, utilities;

@import "./reset.css" layer(reset);
@import "./variables.css" layer(variables);
@import "./utilities.css" layer(utilities);

@import "../component/NavBar/style.css" layer(components);
@import "../component/Movie/style.css" layer(components);
@import "../component/MovieCategory/style.css" layer(components);
@import "../component/MovieDetail/style.css" layer(components);
@import "../component/Featured/style.css" layer(components);
@import "../component/Stats/style.css" layer(components);
@import "../component/Search/style.css" layer(components);


body {
    margin: 0;
    padding: 0;
    background-color: var(--bg-color);
    color: var(--text-color);
}

.app-container {
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: sans-serif;
    overflow-x: hidden;
    margin: 0;
}