.category-row {
    padding: 2rem;
    hoverflow: visible;
}

.category-row h2 {
    font-size: 1.2rem;
    margin-bottom: 1rem;
    font-weight: bold;
    cursor: pointer;
}

.carousel {
display: flex;
    gap: 1rem; 
    scrollbar-width: none; 
    max-width: 100%;
    overflow-x: scroll;
    overflow-y: visible;
        padding: 2rem 0; 
        margin: -2rem 0; 
}

.carousel::-webkit-scrollbar {
    display: none;
}