.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 4rem;
  gap: 1rem;
}

.search-container {
  position: relative;
  flex: 1;
  max-width: 100%;
}

.search-input {
  width: 100%;
  padding: 1rem 3rem 1rem 1rem; 
  border-radius: 3rem;
  background-color: var(--bg-sidebar); 
  backdrop-filter: blur(1rem);
  -webkit-backdrop-filter: blur(1rem);
  border: 1rem solid rgba(255, 255, 255, 0.08);
  color: var(--text-main);
  font-size: 1rem;
  outline: none;
  transition: all 0.3s;
  box-shadow: 0 1rem 1rem rgba(0,0,0,0.1);
}

.search-input:focus {
  border-color: var(--accent-color);
  box-shadow: 0 0 1rem rgba(0, 229, 255, 0.2);
}

.search-icon {
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  color: var(--text-muted);
}

.topbar-profile {
  display: flex;
  align-items: center;
  gap: 1rem;
  background-color: var(--bg-sidebar);
  backdrop-filter: blur(1rem);
  padding: 1rem 1rem 1rem 1rem;
  border-radius: 3rem;
  border: 1rem solid rgba(255, 255, 255, 0.08);
  box-shadow: 0 1rem 1rem rgba(0,0,0,0.1);
  transition: border-color 0.3s;
}

.topbar-profile:hover {
  border-color: rgba(255,255,255,0.2);
}

.profile-avatar {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background: linear-gradient(135deg, var(--accent-color), #0056b3);
  color: #0B1120;
  display: flex;
  align-items: center;
  justify-content: center;
}

.topbar-profile select {
  background: transparent;
  color: var(--text-main);
  border: none;
  outline: none;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
}

.topbar-profile select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  
  background-color: transparent;
  color: var(--text-main);
  border: none;
  outline: none;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  
  padding-right: 2rem; 
}

.topbar-profile select option {
  background-color: var(--bg-app); 
  color: var(--text-main);
  font-size: 1rem;
  font-weight: 500; 
}

.topbar-profile select option:checked,
.topbar-profile select option:hover {
  background-color: var(--bg-element);
  color: var(--accent-color);
}

.topbar-right {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.logout-btn {
    background-color: var(--bg-sidebar);
    backdrop-filter: blur(1rem);
    -webkit-backdrop-filter: blur(1rem);
    border: 1rem solid rgba(255, 255, 255, 0.08);
    color: var(--text-muted);
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 1rem 1rem rgba(0,0,0,0.1);
}

.logout-btn:hover {
    color: #ff4757; 
    border-color: rgba(255, 71, 87, 0.3);
    background-color: rgba(255, 71, 87, 0.1);
    transform: scale(1.05);
}