.favorites-grid {
    padding-top: 5rem;
}

.movie-card {
    position: relative;
    flex: 0 0 auto;
    width: 20rem; 
    aspect-ratio: 16 / 9;
    scroll-snap-align: start;
    border-radius: 1rem;
    overflow: hidden;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.movie-card:hover {
  transform-origin: center;
    transform: scale(1.05);
    z-index: 10;
}

.movie-clickable {
    cursor: pointer;
    height: 100%;
    position: relative;
}

.movie-img {
    width: 100%;
    height: auto;
    display: block;
}

.movie-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    gap: .5rem;    
    align-items: center;
    background-color: #00000085;
    backdrop-filter: blur(6.25rem);
    padding: 0.5rem;
    opacity: 0;
    font-size: 0.8rem;
    transition: opacity 0.3s ease;
}

.movie-card:hover .movie-overlay {
    opacity: 1;
}


.movie-title {
    color: white;
    font-weight: bold;
}

.badge-age {
    background-color: #00000085;
    padding: 0.25rem 0.5rem;
    border-radius: .25rem;
    font-weight: bold;
    color: white;
}

.fav-btn {
    position: absolute;
    top: 1rem;
    right: 1rem;
    padding: .8rem;
    border-radius: 50%;
    background-color: #00000085;
    backdrop-filter: blur(6.25rem);
    border: none;
    color: white;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: all 0.2s ease;
    z-index: 20;
}

.movie-card:hover .fav-btn {
    opacity: 1;
}

.fav-btn:hover, .fav-btn.active {
    background-color: white;
    border-color: white;
    color: black;
}

.fav-btn svg {
    pointer-events: none;
}

@media screen and (max-width: 64rem) {
    .movie-card {
        width: 18rem;
    }
}

@media screen and (max-width: 48rem) {
    .movie-card {
        width: 16rem;
    }

    .movie-overlay {
        font-size: 0.75rem;
    }
}

@media screen and (max-width: 36rem) {
    .movie-card {
        width: 14rem;
    }
}
